
.menubut1 {
    -fx-font-family: "Comic Sans MS";
}
.menubut2 {
    -fx-font-family: "Comic Sans MS"
}
.input {
    -fx-border-color: rgb(57, 127, 90);
}
.menubutton {
    -fx-background-color: rgba(202,229,232,1) ;
    -fx-font-family: "Comic Sans MS";
}
.top {
    -fx-background-color: rgba(202,229,232,1) ;
}

.round-red1 {
    -fx-background-color: linear-gradient(rgb(53, 127, 90),rgb(53, 127, 90));
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;

    -fx-background-image:url("image/add.png");
    -fx-background-position: 8 4;/* vị trí ảnh trong button*/
    -fx-background-repeat: no-repeat;
    -fx-background-size:30 30;
}
.round-red2 {
    -fx-background-color: linear-gradient(rgb(53, 127, 90),rgb(53, 127, 90));
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;

    -fx-background-image:url("image/edit.png");
    -fx-background-position: 8 4;/* vị trí ảnh trong button*/
    -fx-background-repeat: no-repeat;
    -fx-background-size:30 30;
}
.round-red3 {
    -fx-background-color: linear-gradient(rgb(53, 127, 90),rgb(53, 127, 90));
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;

    -fx-background-image:url("image/remove.png");
    -fx-background-position: 8 4;/* vị trí ảnh trong button*/
    -fx-background-repeat: no-repeat;
    -fx-background-size:30 30;
}
.round-red4 {
    -fx-background-color: linear-gradient(rgb(53, 127, 90),rgb(53, 127, 90));
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;

    -fx-background-image:url("image/Anh.png");
    -fx-background-position: 8 2;/* vị trí ảnh trong button*/
    -fx-background-repeat: no-repeat;
    -fx-background-size:30 30;
}
.round-red5 {
    -fx-background-color: linear-gradient(rgb(53, 127, 90),rgb(53, 127, 90));
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;

    -fx-background-image:url("image/Viet.png");
    -fx-background-position: 8 2;/* vị trí ảnh trong button*/
    -fx-background-repeat: no-repeat;
    -fx-background-size:30 30;
}
.round-red6 {
    -fx-background-color: linear-gradient(rgb(53, 127, 90),rgb(53, 127, 90));
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;

    -fx-background-image:url("image/exit.png");
    -fx-background-position: 8 4;/* vị trí ảnh trong button*/
    -fx-background-repeat: no-repeat;
    -fx-background-size:30 30;
}
.round-red7 {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;

    -fx-background-image:url("image/search.png");
    -fx-background-position: 8 4;/* vị trí ảnh trong button*/
    -fx-background-repeat: no-repeat;
    -fx-background-size:30 30;
}
.round-red8 {
    -fx-background-color:rgb(53, 127, 90);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;

    -fx-background-image:url("image/speaker.png");
    -fx-background-position: 8 4;/* vị trí ảnh trong button*/
    -fx-background-repeat: no-repeat;
    -fx-background-size:30,30;
}
.round-red9 {
     -fx-background-color: rgb(53, 127, 90);
     -fx-background-radius: 30;
     -fx-background-insets: 0;
     -fx-text-fill: white;

     -fx-background-image:url("image/wikipedia.png");
     -fx-background-position: 8 4;/* vị trí ảnh trong button*/
     -fx-background-repeat: no-repeat;
     -fx-background-size:30,30;
 }
.round-red10 {
    -fx-background-color: rgb(53, 127, 90);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;

    -fx-background-image:url("image/Google_Translate_Icon.png");
    -fx-background-position: 8 4;/* vị trí ảnh trong button*/
    -fx-background-repeat: no-repeat;
    -fx-background-size:30,30;
}
.shiny-orange {
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
.Webview{
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-border-color: rgb(57, 127, 90);
}
.pane1{
    -fx-background-color:  #8fbc8f;
}
.pane {

    -fx-background-image:url("image/animal_4-08-512.png"), url("image/q.png");
    -fx-background-color:  #8fbc8f;
    -fx-background-position: 8 19, 0 0;/* vị trí ảnh*/
    -fx-background-repeat: no-repeat;
    -fx-background-size:50 50, 965 225;
}
.myDialogSearch{
    -fx-background-color: #8fbc8f;
    /*-fx-background-image:url("image/animal_4-08-512.png");
    -fx-background-position: 270 100;
    -fx-background-repeat: no-repeat;
    -fx-background-size:100 110;*/


}
.myDialogSearch > *.button-bar > *.container{
    -fx-background-color: #8fbc8f;
}
.myDialogSearch > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 80;
    -fx-background-insets: 0;
}
.myDialogSearch > *.header-panel{
    -fx-background-color: #8fbc8f;
}

.myDialogSearch > *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #8fbc8f;
}
.myDialogSearch >  *.button{
    -fx-background-color: linear-gradient(rgb(53, 127, 90),rgb(53, 127, 90));
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;}

