

.menubut1 {
    -fx-font-family: "Comic Sans MS";
}
.menubut2 {
    -fx-font-family: "Comic Sans MS"
}
.input {
    -fx-border-color:  red;
}
.menubutton {
    -fx-background-color: rgba(202,229,232,1) ;
    -fx-font-family: "Comic Sans MS";
}
.top {
    -fx-background-color: rgba(202,229,232,1) ;
}